[flake8]
max-line-length = 180
ignore = E741,W293,F841,E203,W391,E501,W503
per-file-ignore =src/pipa/__about__.py:F401,src/pipa/__about__.py:F821,src/pipa/__about__.py:F841,src/pipa/__init__.py:W391,
