__pycache__/
*.pyc
.venv/
venv/
build/
dist/
*.egg-info/
*_calibrated.yaml
.pytest_cache/
.python_*
*.pipa
report.html
.coverage
coverage.xml
junit-report.xml
.vscode
third_party/
test_results_*/
pipa_static_info*.yaml
