[project]
name = "pypipa"
dynamic = ["version"]
authors = [{ name = "Benard Jiang", email = "bernardjiang5@outlook.com" }]
description = "Platform Integrated Performance Analytics, PIPA"
readme = "README.md"
requires-python = ">=3.10"
license = "MIT"
keywords = [
    "pipa",
    "performance",
    "analytics",
    "platform",
    "integrated",
    "observability",
]

classifiers = [
    "Development Status :: 3 - Alpha",
    "Programming Language :: Python",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
    "Programming Language :: Python :: Implementation :: CPython",
    "Programming Language :: Python :: Implementation :: PyPy",
    "Operating System :: POSIX :: Linux",
    "Topic :: System :: Monitoring",
]

dependencies = [
    "pandas>=2.2.2",
    "PyYAML>=6.0.1",
    "fire>=0.6.0",
    "questionary>=2.0.1",
    "rich>=13.7.1",
    "pandarallel",
    "pydot",
    "seaborn",
    "psutil",
    "protobuf",
    "grpcio",
    "requests",
    "scipy",
    "networkx",
    "matplotlib",
    "pyelftools",
    "capstone",
    "plotly",
    "nbformat"
]

[project.optional-dependencies]
dev = ["build", "black", "flake8", "pytest", "grpcio-tools"]

[project.urls]
Documentation = "https://github.com/ZJU-SPAIL/pipa#readme"
Issues = "https://github.com/ZJU-SPAIL/pipa/issues"
Source = "https://github.com/ZJU-SPAIL/pipa"

[project.scripts]
pipa = "pipa.main:main"
pipad = "pipa.service.pipad.pipad_server:main"

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[tool.hatch.version]
path = "src/pipa/__about__.py"

[tool.hatch.build.targets.wheel]
packages = ["src/pipa", "pyproject.toml", "README.md", "LICENSE"]

[tool.black]
line-length = 88
include = '\.pyi?$'
exclude = '''
# A regex preceded with ^/ will apply only to files and directories
# in the root of the project.
(
  ^__about__.py     # exclude a file named foo.py in the root of the project
  | .*_pb2.py       # exclude autogenerated Protocol Buffer files anywhere in the project
  | .*_pb2_grpc.py  # exclude autogenerated Protocol Buffer files anywhere in the project
)
'''
