# --- Production Dependencies Only ---
click
pyyaml
pandas

# --- Development & Testing Tools ---
black
flake8
flake8-black
pytest
pytest-cov
pre-commit
pip-tools
isort
tabulate
Jinja2
plotly
markdown-it-py
