-C
(
# group 1
INST_RETIRED.ANY 
CPU_CLK_UNHALTED.REF_TSC
CPU_CLK_UNHALTED.THREAD
TOPDOWN.SLOTS:perf_metrics
L2_LINES_IN.ALL
L1D.REPLACEMENT
MEM_INST_RETIRED.ALL_LOADS
MEM_INST_RETIRED.ALL_STORES
UOPS_EXECUTED.CORE_CYCLES_GE_1
UOPS_EXECUTED.CORE_CYCLES_GE_2
UOPS_EXECUTED.CORE_CYCLES_GE_3
UNC_CHA_TOR_OCCUPANCY.IA_MISS_DRD
UNC_CHA_TOR_INSERTS.IA_MISS_DRD
UNC_CHA_TOR_INSERTS.IA_MISS_DRD_PREF
UNC_CHA_CLOCKTICKS
UNC_M_RPQ_OCCUPANCY_PCH0
UNC_M_RPQ_OCCUPANCY_PCH1
UNC_M_RPQ_INSERTS.PCH0
UNC_M_RPQ_INSERTS.PCH1
UNC_M2M_DIRECTORY_LOOKUP.ANY
UNC_M2M_DIRECTORY_LOOKUP.STATE_I
UNC_M2M_DIRECTORY_LOOKUP.STATE_S
UNC_M2M_DIRECTORY_LOOKUP.STATE_A
UNC_UPI_CLOCKTICKS
UNC_UPI_TxL_FLITS.ALL_DATA
UNC_UPI_TxL_FLITS.NON_DATA
UNC_UPI_L1_POWER_CYCLES
#FREERUN_PKG_ENERGY_STATUS
MSR_EVENT:msr=0x611:type=FREERUN:scope=PACKAGE
#FREERUN_DRAM_ENERGY_STATUS
MSR_EVENT:msr=0x619:type=FREERUN:scope=PACKAGE
#FREERUN_CORE_C6_RESIDENCY
MSR_EVENT:msr=0x3FD:type=FREERUN:scope=THREAD
#FREERUN_PKG_C2_RESIDENCY
MSR_EVENT:msr=0x60D:type=FREERUN:scope=PACKAGE
#FREERUN_PKG_C6_RESIDENCY
MSR_EVENT:msr=0x3F9:type=FREERUN:scope=PACKAGE
;

# group 2
INST_RETIRED.ANY 
CPU_CLK_UNHALTED.REF_TSC
CPU_CLK_UNHALTED.THREAD
TOPDOWN.SLOTS:perf_metrics
ITLB_MISSES.STLB_HIT
ITLB_MISSES.WALK_COMPLETED
ITLB_MISSES.WALK_COMPLETED_2M_4M
ITLB_MISSES.WALK_ACTIVE
BR_INST_RETIRED.ALL_BRANCHES
BR_MISP_RETIRED.ALL_BRANCHES
BR_INST_RETIRED.ALL_BRANCHES:SUP
BR_MISP_RETIRED.ALL_BRANCHES:SUP
UNC_CHA_TOR_OCCUPANCY.IA_MISS_RFO
UNC_CHA_TOR_INSERTS.IA_MISS_LLCPREFRFO
UNC_CHA_TOR_INSERTS.IA_MISS_RFO
UNC_CHA_TOR_INSERTS.IA_MISS_RFO_PREF
UNC_M_RPQ_CYCLES_NE.PCH0
UNC_M_RPQ_CYCLES_NE.PCH1
;

# group 3 
INST_RETIRED.ANY:SUP
CPU_CLK_UNHALTED.REF_TSC:SUP
CPU_CLK_UNHALTED.THREAD:SUP
TOPDOWN.SLOTS:perf_metrics
IDQ.DSB_UOPS
IDQ.MS_UOPS
LSD.UOPS
IDQ.MITE_UOPS
BR_INST_RETIRED.COND_NTAKEN
BR_INST_RETIRED.COND_TAKEN
BR_MISP_RETIRED.COND_NTAKEN
BR_MISP_RETIRED.COND_TAKEN
UNC_CHA_TOR_INSERTS.IA_MISS_LLCPREFDATA
UNC_CHA_TOR_INSERTS.IA_MISS_CRD
UNC_CHA_TOR_INSERTS.IA_MISS_CRD_PREF
UNC_M_RPQ_OCCUPANCY_PCH0:t=10
UNC_M_RPQ_OCCUPANCY_PCH0:t=20
UNC_M_RPQ_OCCUPANCY_PCH0:t=30
UNC_M_RPQ_CYCLES_FULL_PCH0
UNC_M2M_RxC_AD_INSERTS
UNC_M2M_RxC_AD_OCCUPANCY
UNC_M2M_RxC_BL_INSERTS
UNC_M2M_RxC_BL_OCCUPANCY
;

# group 4
INST_RETIRED.ANY 
CPU_CLK_UNHALTED.REF_TSC
CPU_CLK_UNHALTED.THREAD
TOPDOWN.SLOTS:perf_metrics
CYCLE_ACTIVITY.STALLS_L1D_MISS
CYCLE_ACTIVITY.STALLS_L2_MISS
CYCLE_ACTIVITY.STALLS_L3_MISS
CYCLE_ACTIVITY.STALLS_MEM_ANY
EXE_ACTIVITY.1_PORTS_UTIL
EXE_ACTIVITY.2_PORTS_UTIL
EXE_ACTIVITY.BOUND_ON_STORES
INST_RETIRED.NOP
# cycles IRQ has 18 or more entries
UNC_CHA_RxC_OCCUPANCY.IRQ:t=18
UNC_CHA_TOR_INSERTS.IA_HIT_CRD
UNC_CHA_TOR_INSERTS.IA_HIT_CRD_PREF
UNC_M_PMM_RPQ_INSERTS
UNC_M_PMM_WPQ_INSERTS
UNC_M_PMM_RPQ_OCCUPANCY.ALL
UNC_M_PMM_WPQ_OCCUPANCY.ALL
UNC_M2M_DIRECT2UPI_TXN_OVERRIDE
;

# group 5
INST_RETIRED.ANY 
CPU_CLK_UNHALTED.REF_TSC
CPU_CLK_UNHALTED.THREAD
TOPDOWN.SLOTS:perf_metrics
MEM_LOAD_RETIRED.L1_HIT
MEM_LOAD_RETIRED.L2_HIT
MEM_LOAD_RETIRED.L3_HIT
MEM_LOAD_RETIRED.L3_MISS
CPU_CLK_UNHALTED.THREAD_P
INT_MISC.CLEAR_RESTEER_CYCLES
CPU_CLK_UNHALTED.ONE_THREAD_ACTIVE
UNC_CHA_TOR_INSERTS.IA_HIT_LLCPREFDRD
UNC_CHA_TOR_INSERTS.IA_HIT_DRD
UNC_CHA_TOR_INSERTS.IA_HIT_DRD_PREF
UNC_CHA_MISC.RFO_HIT_S
UNC_M_PMM_RPQ_OCCUPANCY.ALL
UNC_M_PMM_RPQ_OCCUPANCY.ALL:t=1
UNC_M_PMM_RPQ_OCCUPANCY.ALL:t=1:e1
UNC_M_PMM_RPQ_INSERTS
UNC_M2M_DIRECT2CORE_TXN_OVERRIDE
UNC_M2M_DIRECT2CORE_NOT_TAKEN_DIRSTATE
;

# group 6
INST_RETIRED.ANY
CPU_CLK_UNHALTED.REF_TSC
CPU_CLK_UNHALTED.THREAD
TOPDOWN.SLOTS:perf_metrics
IDQ.MITE_CYCLES_OK
IDQ.MITE_CYCLES_ANY
IDQ.DSB_CYCLES_ANY
IDQ.DSB_CYCLES_OK
CPU_CLK_UNHALTED.DISTRIBUTED 
ASSISTS.ANY
UOPS_EXECUTED.X87
UOPS_ISSUED.STALL_CYCLES
UNC_CHA_CLOCKTICKS
UNC_CHA_TOR_INSERTS.IA_HIT_LLCPREFRFO
UNC_CHA_TOR_INSERTS.IA_HIT_RFO
UNC_CHA_TOR_INSERTS.IA_HIT_RFO_PREF
UNC_M_RPQ_INSERTS.PCH0
UNC_M_RPQ_OCCUPANCY_PCH0
UNC_M_CAS_COUNT.RD
UNC_M_CAS_COUNT.WR
UNC_M2M_DIRECT2UPI_NOT_TAKEN_CREDITS
UNC_M2M_DIRECT2UPI_NOT_TAKEN_DIRSTATE
UNC_UPI_CLOCKTICKS
UNC_UPI_TxL_FLITS.ALL_DATA
UNC_UPI_TxL_FLITS.NON_DATA
UNC_UPI_L1_POWER_CYCLES
;

# group 7
INST_RETIRED.ANY
CPU_CLK_UNHALTED.REF_TSC
CPU_CLK_UNHALTED.THREAD
TOPDOWN.SLOTS:perf_metrics
L1D_PEND_MISS.FB_FULL
L1D_PEND_MISS.FB_FULL_PERIODS
L1D_PEND_MISS.PENDING_CYCLES
LD_BLOCKS_PARTIAL.ADDRESS_ALIAS
UNC_CHA_DISTRESS_ASSERTED.VERT
UNC_CHA_DISTRESS_ASSERTED.DPT_LOCAL
UNC_CHA_DISTRESS_ASSERTED.DPT_NONLOCAL
UNC_M_CLOCKTICKS
UNC_M_CAS_COUNT.RD
UNC_M_CAS_COUNT.WR
;

# group 8
INST_RETIRED.ANY
CPU_CLK_UNHALTED.REF_TSC
CPU_CLK_UNHALTED.THREAD
TOPDOWN.SLOTS:perf_metrics
LSD.CYCLES_ACTIVE
LSD.CYCLES_OK
OFFCORE_REQUESTS_OUTSTANDING.ALL_DATA_RD:c4
CPU_CLK_UNHALTED.DISTRIBUTED 
UNC_CHA_REQUESTS.READS_LOCAL
UNC_CHA_REQUESTS.READS_REMOTE
UNC_CHA_REQUESTS.WRITES_LOCAL
UNC_CHA_REQUESTS.WRITES_REMOTE
UNC_M_PMM_RPQ_OCCUPANCY.ALL:t=1
UNC_M_PMM_RPQ_OCCUPANCY.ALL:t=10
UNC_M_PMM_RPQ_OCCUPANCY.ALL:t=24
UNC_M_PMM_RPQ_OCCUPANCY.ALL:t=36
UNC_M2M_TxC_BL_INSERTS.ALL     
;

# group 9 
INST_RETIRED.ANY
CPU_CLK_UNHALTED.REF_TSC
CPU_CLK_UNHALTED.THREAD
TOPDOWN.SLOTS:perf_metrics
DSB2MITE_SWITCHES.PENALTY_CYCLES
BACLEARS.ANY
IDQ_UOPS_NOT_DELIVERED.CORE
UOPS_ISSUED.ANY
UOPS_RETIRED.SLOTS
UOPS_EXECUTED.THREAD
UNC_CHA_REQUESTS.INVITOE_LOCAL
UNC_CHA_REQUESTS.INVITOE_REMOTE
UNC_M_PMM_RPQ_OCCUPANCY.ALL:t=1
UNC_M_PMM_RPQ_OCCUPANCY.ALL:t=1:e1
UNC_M_PMM_RPQ_OCCUPANCY.ALL:t=36
UNC_M_PMM_RPQ_OCCUPANCY.ALL:t=36:e1
;

# group 10
INST_RETIRED.ANY 
CPU_CLK_UNHALTED.REF_TSC
CPU_CLK_UNHALTED.THREAD
TOPDOWN.SLOTS:perf_metrics
OFFCORE_REQUESTS.DEMAND_DATA_RD
OFFCORE_REQUESTS_OUTSTANDING.DEMAND_DATA_RD 
OFFCORE_REQUESTS_OUTSTANDING.CYCLES_WITH_DEMAND_RFO
OFFCORE_REQUESTS_OUTSTANDING.CYCLES_WITH_DATA_RD
FP_ARITH_INST_RETIRED.128B_PACKED_DOUBLE
FP_ARITH_INST_RETIRED.128B_PACKED_SINGLE
FP_ARITH_INST_RETIRED.256B_PACKED_DOUBLE
FP_ARITH_INST_RETIRED.256B_PACKED_SINGLE
UNC_CHA_SNOOP_RESP.RSP_FWD_WB
UNC_CHA_SNOOP_RESP.RSPIFWD
UNC_CHA_SNOOP_RESP.RSPCNFLCTS
UNC_CHA_SNOOP_RESP.RSPSFWD
UNC_M_PMM_RPQ_INSERTS
UNC_M_PMM_WPQ_INSERTS
UNC_M_PMM_RPQ_OCCUPANCY.ALL
UNC_M_PMM_WPQ_OCCUPANCY.ALL
;

# group 11
INST_RETIRED.ANY 
CPU_CLK_UNHALTED.REF_TSC
CPU_CLK_UNHALTED.THREAD
TOPDOWN.SLOTS:perf_metrics
DTLB_LOAD_MISSES.STLB_HIT
DTLB_LOAD_MISSES.WALK_COMPLETED_1G
DTLB_LOAD_MISSES.WALK_COMPLETED_2M_4M
DTLB_LOAD_MISSES.WALK_COMPLETED_4K
FP_ARITH_INST_RETIRED.512B_PACKED_DOUBLE
FP_ARITH_INST_RETIRED.512B_PACKED_SINGLE
FP_ARITH_INST_RETIRED.SCALAR_DOUBLE
FP_ARITH_INST_RETIRED.SCALAR_SINGLE
UNC_CHA_TOR_OCCUPANCY.IA_MISS_DRD_LOCAL
UNC_CHA_TOR_INSERTS.IA_MISS_DRD_LOCAL
UNC_CHA_SNOOP_RESP.RSPI
UNC_CHA_SNOOP_RESP.RSPS
UNC_M_PMM_WPQ_OCCUPANCY.ALL:t=1
UNC_M_PMM_WPQ_OCCUPANCY.ALL:t=1:e1
UNC_M_PMM_WPQ_OCCUPANCY.ALL:t=30
UNC_M_PMM_WPQ_OCCUPANCY.ALL:t=30:e1
;

# group 12
INST_RETIRED.ANY 
CPU_CLK_UNHALTED.REF_TSC
CPU_CLK_UNHALTED.THREAD
TOPDOWN.SLOTS:perf_metrics
OFFCORE_REQUESTS.L3_MISS_DEMAND_DATA_RD
OFFCORE_REQUESTS_OUTSTANDING.L3_MISS_DEMAND_DATA_RD
DECODE.LCP
L1D_PEND_MISS.L2_STALL
BR_INST_RETIRED.ALL_BRANCHES:SUP
BR_MISP_RETIRED.ALL_BRANCHES:SUP
BR_INST_RETIRED.ALL_BRANCHES:USER
BR_MISP_RETIRED.ALL_BRANCHES:USER
UNC_CHA_RxC_OCCUPANCY.IRQ
UNC_CHA_RxC_INSERTS.IRQ
UNC_CHA_RxC_INSERTS.RRQ
UNC_CHA_RxC_INSERTS.WBQ
UNC_M_PMM_WPQ_OCCUPANCY.ALL
UNC_M_PMM_WPQ_OCCUPANCY.ALL:t=1
UNC_M_PMM_WPQ_OCCUPANCY.ALL:t=1:e1
UNC_M_PMM_WPQ_INSERTS
;

# group 13
INST_RETIRED.ANY 
CPU_CLK_UNHALTED.REF_TSC
CPU_CLK_UNHALTED.THREAD
TOPDOWN.SLOTS:perf_metrics
DTLB_LOAD_MISSES.WALK_ACTIVE
DTLB_STORE_MISSES.WALK_ACTIVE
DTLB_LOAD_MISSES.WALK_COMPLETED
DTLB_STORE_MISSES.WALK_COMPLETED
LONGEST_LAT_CACHE.MISS
INT_MISC.RECOVERY_CYCLES
INT_MISC.CLEARS_COUNT
UNC_CHA_TOR_OCCUPANCY.IA_MISS_DRD_REMOTE
UNC_CHA_TOR_INSERTS.IA_MISS_DRD_REMOTE
UNC_CHA_RxC_INSERTS.IPQ
UNC_CHA_RxC_INSERTS.PRQ
UNC_M_PMM_WPQ_OCCUPANCY.ALL:t=1
UNC_M_PMM_WPQ_OCCUPANCY.ALL:t=10
UNC_M_PMM_WPQ_OCCUPANCY.ALL:t=20
UNC_M_PMM_WPQ_OCCUPANCY.ALL:t=30
UNC_UPI_CLOCKTICKS
UNC_UPI_TxL_FLITS.ALL_DATA
UNC_UPI_TxL_FLITS.NON_DATA
UNC_UPI_L1_POWER_CYCLES
;

# group 14
INST_RETIRED.ANY:SUP
CPU_CLK_UNHALTED.REF_TSC:SUP
CPU_CLK_UNHALTED.THREAD:SUP
TOPDOWN.SLOTS:perf_metrics
MEM_INST_RETIRED.LOCK_LOADS
MACHINE_CLEARS.COUNT
MACHINE_CLEARS.MEMORY_ORDERING
MACHINE_CLEARS.SMC
UNC_M_TAGCHK.HIT
UNC_M_TAGCHK.MISS_CLEAN
UNC_M_TAGCHK.MISS_DIRTY
UNC_UPI_TxL0P_POWER_CYCLES
UNC_UPI_RxL0P_POWER_CYCLES
UNC_UPI_RxL_FLITS.ALL_DATA
UNC_UPI_RxL_FLITS.NON_DATA
;

# group 15 
INST_RETIRED.ANY 
CPU_CLK_UNHALTED.REF_TSC
CPU_CLK_UNHALTED.THREAD
TOPDOWN.SLOTS:perf_metrics
MEM_INST_RETIRED.STLB_MISS_STORES
LD_BLOCKS.STORE_FORWARD
IDQ.MS_SWITCHES
MEM_LOAD_RETIRED.L2_MISS
IDQ_UOPS_NOT_DELIVERED.CYCLES_0_UOPS_DELIV.CORE
BR_INST_RETIRED.FAR_BRANCH
BR_INST_RETIRED.NEAR_RETURN
UNC_CHA_HITME_HIT.EX_RDS
UNC_CHA_RxC_IPQ0_REJECT.AD_RSP_VN0
UNC_CHA_RxC_IRQ1_REJECT.PA_MATCH
UNC_M_RPQ_OCCUPANCY_PCH0
UNC_M_RPQ_INSERTS.PCH0
UNC_M_CAS_COUNT.RD
UNC_M_CAS_COUNT.WR
;

# group 16
INST_RETIRED.ANY 
CPU_CLK_UNHALTED.REF_TSC
CPU_CLK_UNHALTED.THREAD
TOPDOWN.SLOTS:perf_metrics
MEM_LOAD_L3_HIT_RETIRED.XSNP_HIT
MEM_LOAD_L3_HIT_RETIRED.XSNP_HITM
MEM_LOAD_L3_HIT_RETIRED.XSNP_MISS
BR_INST_RETIRED.INDIRECT
BR_INST_RETIRED.NEAR_CALL
BR_MISP_RETIRED.INDIRECT
UNC_CHA_DIR_UPDATE.HA
UNC_CHA_DIR_UPDATE.TOR
UNC_CHA_DIR_LOOKUP.NO_SNP
UNC_CHA_DIR_LOOKUP.SNP
UNC_M_RPQ_OCCUPANCY_PCH0
UNC_M_RPQ_INSERTS.PCH0
UNC_M_CAS_COUNT.RD
UNC_M_CAS_COUNT.WR
UNC_M2M_DIRECTORY_UPDATE.ANY
;

# group 17
INST_RETIRED.ANY 
CPU_CLK_UNHALTED.REF_TSC
CPU_CLK_UNHALTED.THREAD
TOPDOWN.SLOTS:perf_metrics
OCR.DEMAND_RFO.L3_HIT.SNOOP_HITM
L2_RQSTS.CODE_RD_MISS
L2_RQSTS.ALL_CODE_RD
L2_RQSTS.CODE_RD_HIT
CPU_CLK_UNHALTED.DISTRIBUTED 
CPU_CLK_UNHALTED.ONE_THREAD_ACTIVE
# ItoM is PCIe full line writes to memory and ITOMCACHENEAR is partial PCIe writes to memory
# these transactions are issued in response to application initiated network or disk reads
UNC_CHA_TOR_INSERTS.IO_HIT_ITOM
UNC_CHA_TOR_INSERTS.IO_MISS_ITOM
UNC_CHA_TOR_INSERTS.IO_HIT_ITOMCACHENEAR
UNC_CHA_TOR_INSERTS.IO_MISS_ITOMCACHENEAR
UNC_M_CLOCKTICKS
UNC_M_CAS_COUNT.RD
UNC_M_CAS_COUNT.WR
;

# group 18
INST_RETIRED.ANY 
CPU_CLK_UNHALTED.REF_TSC
CPU_CLK_UNHALTED.THREAD
TOPDOWN.SLOTS:perf_metrics
OCR.READS_TO_CORE.LOCAL_DRAM
OCR.HWPF_L3.L3_MISS_LOCAL
MEM_LOAD_RETIRED.L1_MISS
MEM_LOAD_RETIRED.FB_HIT
RESOURCE_STALLS.SCOREBOARD
INT_MISC.ALL_RECOVERY_CYCLES
ARITH.DIVIDER_ACTIVE
# RdCur is PCIe full line reads to memory 
# these transactions are issued in response to application initiated network or disk writes
UNC_CHA_TOR_INSERTS.IO_HIT_PCIRDCUR
UNC_CHA_TOR_INSERTS.IO_MISS_PCIRDCUR
UNC_CHA_TOR_INSERTS.IO_PCIRDCUR
# following 4 events are for deriving page hit/miss/empty ratios
UNC_M_CAS_COUNT.ALL
UNC_M_ACT_COUNT.ALL
UNC_M_PRE_COUNT.ALL
UNC_M_PRE_COUNT.PGT
UNC_M2M_TRACKER_INSERTS.CH0
UNC_M2M_TRACKER_INSERTS.CH1
UNC_M2M_TRACKER_OCCUPANCY.CH0
UNC_M2M_TRACKER_OCCUPANCY.CH1
UNC_UPI_TxL_FLITS.NON_DATA:u0x87
UNC_UPI_TxL_FLITS.IDLE
UNC_UPI_TxL_FLITS.ALL_NULL
;

# group 19 
INST_RETIRED.ANY
CPU_CLK_UNHALTED.REF_TSC
CPU_CLK_UNHALTED.THREAD
TOPDOWN.SLOTS:perf_metrics
OCR.READS_TO_CORE.REMOTE_DRAM
OCR.HWPF_L3.REMOTE
L1D_PEND_MISS.PENDING
LD_BLOCKS.NO_SR
BR_MISP_RETIRED.COND_NTAKEN:SUP
BR_MISP_RETIRED.COND_TAKEN:SUP
BR_INST_RETIRED.COND:SUP
# the following 4 TOR_INSERTS are used to get NUMA locality% for data reads
UNC_CHA_TOR_INSERTS.IA_MISS_DRD_LOCAL
UNC_CHA_TOR_INSERTS.IA_MISS_DRD_PREF_LOCAL
UNC_CHA_TOR_INSERTS.IA_MISS_DRD_REMOTE
UNC_CHA_TOR_INSERTS.IA_MISS_DRD_PREF_REMOTE
UNC_M_RPQ_OCCUPANCY_PCH0
UNC_M_WPQ_OCCUPANCY_PCH0
UNC_M_RPQ_INSERTS.PCH0
UNC_M_WPQ_INSERTS.PCH0
;

# group 20
INST_RETIRED.ANY
CPU_CLK_UNHALTED.REF_TSC
CPU_CLK_UNHALTED.THREAD
TOPDOWN.SLOTS:perf_metrics
ICACHE_64B.IFTAG_HIT
ICACHE_64B.IFTAG_MISS
ICACHE_DATA.STALLS
ICACHE_TAG.STALLS
# the following 4 TOR_INSERTS are used to get NUMA locality% for RFOs
UNC_CHA_TOR_INSERTS.IA_MISS_RFO_LOCAL
UNC_CHA_TOR_INSERTS.IA_MISS_RFO_PREF_LOCAL
UNC_CHA_TOR_INSERTS.IA_MISS_RFO_REMOTE
UNC_CHA_TOR_INSERTS.IA_MISS_RFO_PREF_REMOTE
UNC_M_RPQ_OCCUPANCY_PCH0
UNC_M_RPQ_INSERTS.PCH0
UNC_M_CAS_COUNT.RD
UNC_M_CAS_COUNT.WR
;


# group 21
INST_RETIRED.ANY
CPU_CLK_UNHALTED.REF_TSC
CPU_CLK_UNHALTED.THREAD
TOPDOWN.SLOTS:perf_metrics
DTLB_STORE_MISSES.STLB_HIT
SW_PREFETCH_ACCESS.NTA
CPU_CLK_UNHALTED.DISTRIBUTED 
CPU_CLK_UNHALTED.ONE_THREAD_ACTIVE
UNC_CHA_TOR_INSERTS.IA_ITOM
UNC_CHA_TOR_INSERTS.IA_SPECITOM
UNC_CHA_TOR_INSERTS.IA_CLFLUSH
UNC_CHA_TOR_INSERTS.IA_CLFLUSHOPT
UNC_M_PMM_RPQ_INSERTS
UNC_M_PMM_WPQ_INSERTS
UNC_M_PMM_RPQ_OCCUPANCY.ALL
UNC_M_PMM_WPQ_OCCUPANCY.ALL
;

# group 22
INST_RETIRED.ANY
CPU_CLK_UNHALTED.REF_TSC
CPU_CLK_UNHALTED.THREAD
TOPDOWN.SLOTS:perf_metrics
OCR.DEMAND_DATA_RD.L3_HIT.SNOOP_HIT_WITH_FWD
OCR.DEMAND_DATA_RD.L3_HIT.SNOOP_HITM
IDQ.MS_CYCLES_ANY
L2_LINES_OUT.USELESS_HWPF
MISC_RETIRED.PAUSE_INST
CPU_CLK_UNHALTED.DISTRIBUTED
UOPS_EXECUTED.CYCLES_GE_3
# Demand Data reads to PMEM only
UNC_CHA_TOR_OCCUPANCY.IA_MISS_DRD_PMM
UNC_CHA_TOR_INSERTS.IA_MISS_DRD_PMM
UNC_CHA_TOR_INSERTS.IO_ITOM
UNC_CHA_TOR_INSERTS.IO_MISS_ITOM
UNC_I_FAF_INSERTS
UNC_M_RPQ_OCCUPANCY_PCH0
UNC_M_RPQ_INSERTS.PCH0
UNC_M_CAS_COUNT.RD
UNC_M_CAS_COUNT.WR
;

# group 23
INST_RETIRED.ANY
CPU_CLK_UNHALTED.REF_TSC
CPU_CLK_UNHALTED.THREAD
TOPDOWN.SLOTS:perf_metrics
L2_LINES_OUT.NON_SILENT
L2_LINES_OUT.SILENT
CPU_CLK_UNHALTED.REF_DISTRIBUTED
CPU_CLK_UNHALTED.REF_DISTRIBUTED:percore
# Demand Data reads to DRAM only
UNC_CHA_TOR_OCCUPANCY.IA_MISS_DRD_DDR
UNC_CHA_TOR_INSERTS.IA_MISS_DRD_DDR
UNC_M_RPQ_OCCUPANCY_PCH0
UNC_M_RPQ_INSERTS.PCH0
UNC_M_CAS_COUNT.RD
UNC_M_CAS_COUNT.WR
UNC_IIO_CLOCKTICKS
;

# group 24
INST_RETIRED.ANY 
CPU_CLK_UNHALTED.REF_TSC
CPU_CLK_UNHALTED.THREAD
TOPDOWN.SLOTS:perf_metrics
MEM_LOAD_L3_MISS_RETIRED.LOCAL_DRAM
MEM_LOAD_L3_MISS_RETIRED.REMOTE_DRAM
MEM_LOAD_L3_MISS_RETIRED.REMOTE_FWD
MEM_LOAD_L3_MISS_RETIRED.REMOTE_HITM
INT_MISC.UOP_DROPPING
UNC_M_WPQ_OCCUPANCY_PCH0
UNC_M_WPQ_OCCUPANCY_PCH1
UNC_M_WPQ_INSERTS.PCH0
UNC_M_WPQ_INSERTS.PCH1
UNC_M2M_PREFCAM_INSERTS.XPT_ALLCH
UNC_UPI_DIRECT_ATTEMPTS.D2C
UNC_UPI_DIRECT_ATTEMPTS.D2K
UNC_UPI_RxL_CRC_LLR_REQ_TRANSMIT
UNC_M3UPI_UPI_PREFETCH_SPAWN
UNC_M3UPI_D2C_SENT
UNC_M3UPI_D2U_SENT
UNC_IIO_DATA_REQ_OF_CPU.MEM_READ.PART0
UNC_IIO_DATA_REQ_OF_CPU.MEM_READ.PART1
;

# group 25
INST_RETIRED.ANY 
CPU_CLK_UNHALTED.REF_TSC
CPU_CLK_UNHALTED.THREAD
TOPDOWN.SLOTS:perf_metrics
BR_MISP_RETIRED.INDIRECT:SUP
BR_INST_RETIRED.INDIRECT:SUP
UNC_CHA_SF_EVICTION.M_STATE
UNC_CHA_SF_EVICTION.S_STATE
UNC_CHA_SF_EVICTION.E_STATE
UNC_M2M_PREFCAM_INSERTS.UPI_ALLCH
UNC_UPI_RxL_OCCUPANCY.SLOT0
UNC_UPI_RxL_OCCUPANCY.SLOT1
UNC_UPI_RxL_INSERTS.SLOT0
UNC_UPI_RxL_INSERTS.SLOT1
UNC_IIO_DATA_REQ_OF_CPU.MEM_READ.PART2
UNC_IIO_DATA_REQ_OF_CPU.MEM_READ.PART3
;

# group 26
INST_RETIRED.ANY 
CPU_CLK_UNHALTED.REF_TSC
CPU_CLK_UNHALTED.THREAD
TOPDOWN.SLOTS:perf_metrics
UNC_CHA_OSB.LOCAL_INVITOE
UNC_CHA_OSB.LOCAL_READ
UNC_CHA_OSB.REMOTE_READ
UNC_UPI_CLOCKTICKS
UNC_UPI_RxL_BYPASSED.SLOT0
UNC_UPI_RxL_BYPASSED.SLOT1
UNC_IIO_DATA_REQ_OF_CPU.MEM_WRITE.PART0
UNC_IIO_DATA_REQ_OF_CPU.MEM_WRITE.PART1
;

# group 27
INST_RETIRED.ANY 
CPU_CLK_UNHALTED.REF_TSC
CPU_CLK_UNHALTED.THREAD
TOPDOWN.SLOTS:perf_metrics
OCR.STREAMING_WR.ANY_RESPONSE
L2_RQSTS.RFO_HIT
L2_RQSTS.RFO_MISS
MEM_INST_RETIRED.SPLIT_STORES
EXE_ACTIVITY.BOUND_ON_STORES:c1
UNC_CHA_TOR_INSERTS.IA_SPECITOM
UNC_CHA_TOR_INSERTS.IA_RFO
UNC_CHA_TOR_INSERTS.IA_RFO_PREF
UNC_CHA_TOR_INSERTS.IA_LLCPREFRFO
UNC_M_CLOCKTICKS
UNC_UPI_CLOCKTICKS
UNC_UPI_TxL_INSERTS
UNC_UPI_TxL_OCCUPANCY
UNC_UPI_TxL_BYPASSED
UNC_IIO_DATA_REQ_OF_CPU.MEM_WRITE.PART2
UNC_IIO_DATA_REQ_OF_CPU.MEM_WRITE.PART3
;

# group 28
INST_RETIRED.ANY 
CPU_CLK_UNHALTED.REF_TSC
CPU_CLK_UNHALTED.THREAD
TOPDOWN.SLOTS:perf_metrics
SQ_MISC.SQ_FULL
MEM_LOAD_RETIRED.LOCAL_PMM
MEM_LOAD_L3_MISS_RETIRED.REMOTE_PMM

UNC_CHA_TOR_INSERTS.IO_ITOM
UNC_CHA_TOR_INSERTS.IO_ITOMCACHENEAR
UNC_CHA_TOR_INSERTS.IO_RFO
UNC_CHA_TOR_INSERTS.IO_MISS_RFO
UNC_I_COHERENT_OPS.WBMTOI
UNC_I_COHERENT_OPS.CLFLUSH
UNC_M_TAGCHK.HIT
UNC_M_TAGCHK.MISS_CLEAN
UNC_M_TAGCHK.MISS_DIRTY
;

# group 29
INST_RETIRED.ANY 
CPU_CLK_UNHALTED.REF_TSC
CPU_CLK_UNHALTED.THREAD
TOPDOWN.SLOTS:perf_metrics
CORE_POWER.LVL0_TURBO_LICENSE
CORE_POWER.LVL1_TURBO_LICENSE
CORE_POWER.LVL2_TURBO_LICENSE
BR_INST_RETIRED.NEAR_TAKEN
# WbEFtoE
UNC_CHA_TOR_INSERTS.IA:umask_ext=0xCC3FFF
# WbEFtoI
UNC_CHA_TOR_INSERTS.IA:umask_ext=0xCC37FF
# WbMtoE
UNC_CHA_TOR_INSERTS.IA:umask_ext=0xCC2FFF
# WbMtoI
UNC_CHA_TOR_INSERTS.IA:umask_ext=0xCC27FF
UNC_M_CLOCKTICKS
UNC_M_POWER_THROTTLE_CYCLES.SLOT0
UNC_M_POWER_THROTTLE_CYCLES.SLOT1
UNC_P_FREQ_CLIP_AVX256
UNC_P_FREQ_CLIP_AVX512
;

# group 30
INST_RETIRED.ANY:SUP
CPU_CLK_UNHALTED.REF_TSC:SUP
CPU_CLK_UNHALTED.THREAD:SUP
TOPDOWN.SLOTS:perf_metrics
UOPS_DISPATCHED.PORT_0
UOPS_DISPATCHED.PORT_1
UOPS_DISPATCHED.PORT_5
UOPS_DISPATCHED.PORT_6
# cycles IRQ has 29 or more entries
UNC_CHA_RxC_OCCUPANCY.IRQ:t=29
UNC_CHA_TOR_INSERTS.IA_HIT_DRDPTE
UNC_CHA_TOR_INSERTS.IA_MISS_DRDPTE
;

# group 31
INST_RETIRED.ANY 
CPU_CLK_UNHALTED.REF_TSC
CPU_CLK_UNHALTED.THREAD
TOPDOWN.SLOTS:perf_metrics
EPT.WALK_ACTIVE
UOPS_ISSUED.VECTOR_WIDTH_MISMATCH
UOPS_DISPATCHED.PORT_2_3
UOPS_DISPATCHED.PORT_4_9
UOPS_DISPATCHED.PORT_7_8
UNC_CHA_OSB.REMOTE_READINVITOE
UNC_M_CLOCKTICKS
UNC_M_CAS_COUNT.RD
UNC_M_CAS_COUNT.WR
UNC_M_POWER_SELF_REFRESH
UNC_P_CORE_TRANSITION_CYCLES
UNC_P_FREQ_TRANS_CYCLES
;

# group 32
INST_RETIRED.ANY 
CPU_CLK_UNHALTED.REF_TSC
CPU_CLK_UNHALTED.THREAD
TOPDOWN.SLOTS:perf_metrics
CYCLE_ACTIVITY.CYCLES_L1D_MISS
DTLB_LOAD_MISSES.STLB_HIT
DTLB_LOAD_MISSES.WALK_ACTIVE
L2_RQSTS.ALL_RFO
CYCLE_ACTIVITY.CYCLES_MEM_ANY
CYCLE_ACTIVITY.STALLS_TOTAL
#STATIC_CORE_THERMAL_STATUS
MSR_EVENT:msr=0x19C:type=STATIC:scope=THREAD
#STATIC_TEMPERATURE_TARGET
MSR_EVENT:msr=0x1A2:type=STATIC:scope=THREAD 
# SMIs
MSR_EVENT:msr=0x34:type=FREERUN:scope=PACKAGE
;

# group 33
INST_RETIRED.ANY 
CPU_CLK_UNHALTED.REF_TSC
CPU_CLK_UNHALTED.THREAD
TOPDOWN.SLOTS:perf_metrics
MEM_INST_RETIRED.ANY
UOPS_DECODED.DEC0
UOPS_DECODED.DEC0:c1
FP_ARITH_INST_RETIRED.128B_PACKED_DOUBLE:u0xfc
FP_ARITH_INST_RETIRED.SCALAR_SINGLE:u0x03
;

# group 34
INST_RETIRED.ANY 
CPU_CLK_UNHALTED.REF_TSC
CPU_CLK_UNHALTED.THREAD
TOPDOWN.SLOTS:perf_metrics
DTLB_LOAD_MISSES.STLB_HIT:c1
DTLB_STORE_MISSES.STLB_HIT:c1
IDQ.MITE_UOPS:c4
IDQ.MITE_UOPS:c5
EXE_ACTIVITY.3_PORTS_UTIL:u0x80
ASSISTS.FP
;

#group 35
INST_RETIRED.ANY 
CPU_CLK_UNHALTED.REF_TSC
CPU_CLK_UNHALTED.THREAD
TOPDOWN.SLOTS:perf_metrics
FP_ARITH_INST_RETIRED.SCALAR
FP_ARITH_INST_RETIRED.128B_PACKED_DOUBLE
FP_ARITH_INST_RETIRED.4_FLOPS
FP_ARITH_INST_RETIRED.8_FLOPS
FP_ARITH_INST_RETIRED.512B_PACKED_SINGLE

;
# group 36
INST_RETIRED.ANY 
CPU_CLK_UNHALTED.REF_TSC
CPU_CLK_UNHALTED.THREAD
TOPDOWN.SLOTS:perf_metrics
INST_DECODED.DECODERS:c1
INST_DECODED.DECODERS:c2
;
)
